* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(17, 17, 17);
}

h1 {
  text-align: center;
  margin: 20px;
  color: white;
  text-shadow: 5px 5px 10px rgba(212, 48, 253);
}

#age {
  border-radius: 10em;
  background-color: rgb(241, 193, 253);
}

:focus {
  outline: 0;
}

legend {
  color: white;
  background-color: black;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.596);
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  padding: 2px 5px;
  border-style: dashed;
  border-color: white;
}

fieldset { 
  border-style: dashed;
  border-radius: 10px;
  margin: auto;
  padding: 8px 15px;
  width: 600px;
  height: auto;
  background-color: rgb(255, 160, 255); 
}

.form-body {
  width: 500px;
  margin: auto;
  padding: 20px;
}

.form-footer {
  text-align: right;
}

section div {
  margin: 15px;
}

section.form-body label, input, i {
  cursor: pointer;
}

section.form-body i:hover {
  color: white;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.596);
}

#btLogin {
  border-style: none;
  background-color: rgb(241, 193, 253);
  border-bottom: ridge;
  padding: 8px 0px;
  width: 100%;
  font-size: 16pt;
  cursor: pointer;
  border-radius: 10em;
}

#btLogin:hover {
  background-color: rgb(187, 87, 245);
}
